# Test name: qa_test_08

##### Reason for test:  
To test more complicated distributions where there are three supply points and demand points in a ring surrounding it - in this case the middle supply can only support two demand points leaving the others to be redistributed to the other supplies which are large enough to take on the extra demand.

##### Parameters

Three supplies - vertically aligned - 150km apart

8 demands for each supply - in an even circle - a fixed distance away (50km)

Capacities - A - supply capable of sustaining 12 demand points, B - supply capable of sustaining 2 demand points, C - supply capable of sustaining 12 demand points.

##### Predicted outcome:
For the centre supply (B) - the two demands horizontally aligned should be attached to it with the others being reassigned depending on whether they are to the North or South of this horizontal line

In [1]:
import pandas as pd
import psycopg2
import random
import os
from utilities import generate_point_dict 
from utilities import locate_supplies
from utilities import calculate_distances
dir = os.getcwd()
parent_directory = os.path.split(os.path.split(dir)[0])[0]

An example of what the csv data should look like (see column naming)

In [5]:
pd.read_csv(parent_directory + "/web/data/datasets/data.csv", nrows=2)

,demand,demand_id,demand_lat,demand_lng,demand_name,supply,supply_id,supply_lat,supply_lng,supply_name,duration_min,distance_crowflies_km,distance_route_km
0,11.662019,0,50.920128,-2.670739,Green Ln,35.689500,0,51.749314,-0.240863,Roehyde Way,158.883333,192.761855,235.458
1,11.662019,0,50.920128,-2.670739,Green Ln,28.249443,1,50.815128,-2.273901,Deer Park,48.433333,30.269113,50.560

The method for locating demands will change depending on the scenario and the locate_demands function may be different for each different test.

In [6]:
def locate_demands(supply_df, num_demands_per_supply, dem_distances_km, dem_bearings_degrees, demand_vol, conn):
    demands = []
    supply_counter = 0

    for supply_dict in supply_df.to_dict(orient="records"):
        this_supply = {"lat":supply_dict["supply_lat"], "lng": supply_dict["supply_lng"]}
        for i in range(num_demands_per_supply):
            distance_km = random.choice(dem_distances_km)
            bearing_degrees = dem_bearings_degrees[i]
            this_demand = generate_point_dict(this_supply, bearing_degrees, distance_km, conn)
            this_demand["demand"] = random.choice(demand_vol)
            this_demand["demand_name"] = "demand" + str(supply_counter + i)
            demands.append(this_demand)
        supply_counter = supply_counter + num_demands_per_supply

    demands_df = pd.DataFrame(demands).reset_index()
    demands_df.columns=["demand_id", "demand", "demand_name", "demand_lat", "demand_lng"]
    return(demands_df)

### Run from here to create a new test data set based on the parameters which can be changed below.

In [7]:
# Naming parameters
output_name = "qa_data_08"

# Supply parameters
num_supplies = 3
sup_distances_km = [0, 150, 300]
sup_bearings_degrees = [0, 0, 0]
supply_vol = [1200, 200, 1200]

# Demand parameters
num_demands_per_supply = 8
dem_distances_km = [50, 50, 50, 50, 50, 50, 50, 50]
dem_bearings_degrees = [0, 45, 90, 135, 180, 225, 270, 315] # Demands will be taken at these exact degrees for each supply
demand_vol = [100]

# Misc
scale = 1 # Used to scale demand to be a proportion of supply (1 by default)

In [8]:
conn = "host='localhost' dbname='postgres' user='postgres' password=''"
conn = psycopg2.connect(conn)

supply_df = locate_supplies(num_supplies, sup_distances_km, sup_bearings_degrees, supply_vol, conn)
demands_df = locate_demands(supply_df, num_demands_per_supply, dem_distances_km, dem_bearings_degrees, demand_vol, conn)

In [9]:
supply_df

   supply_id  supply_lat  supply_lng  supply supply_name
0          0   51.501109   -1.242375    1200     supply0
1          1   52.849173   -1.242375     200     supply1
2          2   54.196930   -1.242375    1200     supply2

In [10]:
demands_df

    demand_id  demand demand_name  demand_lat  demand_lng
0           0     100     demand0   51.950498   -1.242375
1           1     100     demand1   51.817765   -0.729654
2           2     100     demand2   51.498899   -0.522340
3           3     100     demand3   51.182226   -0.736736
4           4     100     demand4   51.051685   -1.242375
5           5     100     demand5   51.182226   -1.748014
6           6     100     demand6   51.498899   -1.962410
7           7     100     demand7   51.817765   -1.755096
8           8     100     demand8   53.298460   -1.242375
9           9     100     demand9   53.165701   -0.713734
10         10     100    demand10   52.846854   -0.500242
11         11     100    demand11   52.530310   -0.721396
12         12     100    demand12   52.399853   -1.242375
13         13     100    demand13   52.530310   -1.763354
14         14     100    demand14   52.846854   -1.984508
15         15     100    demand15   53.165701   -1.771016
16         16     100    demand16   54.646114   -1.242375
17         17     100    demand17   54.513326   -0.696482
18         18     100    demand18   54.194494   -0.476308
19         19     100    demand19   53.878081   -0.704790
20         20     100    demand20   53.747712   -1.242375
21         21     100    demand21   53.878081   -1.779960
22         22     100    demand22   54.194494   -2.008442
23         23     100    demand23   54.513326   -1.788268

In [10]:
# Scale supply capacity so that supply>demand by "scale" (ONLY RUN IF SCALING REQUIRED)
#supply_df["supply"] = supply_df["supply"]* demands_df["demand"].sum()/supply_df["supply"].sum()*scale

In [11]:
# Cartestian product
supply_df["cart"] = 1
demands_df["cart"] = 1
all_combos = demands_df.merge(supply_df)
all_combos = all_combos.drop("cart", axis=1)
all_combos

,demand_id,demand,demand_name,demand_lat,demand_lng,supply_id,supply_lat,supply_lng,supply,supply_name
0,0,100,demand0,51.950498,-1.242375,0,51.501109,-1.242375,1200,supply0
1,0,100,demand0,51.950498,-1.242375,1,52.849173,-1.242375,200,supply1
2,0,100,demand0,51.950498,-1.242375,2,54.196930,-1.242375,1200,supply2
3,1,100,demand1,51.817765,-0.729654,0,51.501109,-1.242375,1200,supply0
4,1,100,demand1,51.817765,-0.729654,1,52.849173,-1.242375,200,supply1
5,1,100,demand1,51.817765,-0.729654,2,54.196930,-1.242375,1200,supply2
6,2,100,demand2,51.498899,-0.522340,0,51.501109,-1.242375,1200,supply0
7,2,100,demand2,51.498899,-0.522340,1,52.849173,-1.242375,200,supply1
8,2,100,demand2,51.498899,-0.522340,2,54.196930,-1.242375,1200,supply2
9,3,100,demand3,51.182226,-0.736736,0,51.501109,-1.242375,1200,supply0
10,3,100,demand3,51.182226,-0.736736,1,52.849173,-1.242375,200,supply1
11,3,100,demand3,51.182226,-0.736736,2,54.196930,-1.242375,1200,supply2
12,4,100,demand4,51.051685,-1.242375,0,51.501109,-1.242375,1200,supply0
13,4,100,demand4,51.051685,-1.242375,1,52.849173,-1.242375,200,supply1
14,4,100,demand4,51.051685,-1.242375,2,54.196930,-1.242375,1200,supply2
15,5,100,demand5,51.182226,-1.748014,0,51.501109,-1.242375,1200,supply0
16,5,100,demand5,51.182226,-1.748014,1,52.849173,-1.242375,200,supply1
17,5,100,demand5,51.182226,-1.748014,2,54.196930,-1.242375,1200,supply2
18,6,100,demand6,51.498899,-1.962410,0,51.501109,-1.242375,1200,supply0
19,6,100,demand6,51.498899,-1.962410,1,52.849173,-1.242375,200,supply1
20,6,100,demand6,51.498899,-1.962410,2,54.196930,-1.242375,1200,supply2
21,7,100,demand7,51.817765,-1.755096,0,51.501109,-1.242375,1200,supply0
22,7,100,demand7,51.817765,-1.755096,1,52.849173,-1.242375,200,supply1
23,7,100,demand7,51.817765,-1.755096,2,54.196930,-1.242375,1200,supply2
24,8,100,demand8,53.298460,-1.242375,0,51.501109,-1.242375,1200,supply0
25,8,100,demand8,53.298460,-1.242375,1,52.849173,-1.242375,200,supply1
26,8,100,demand8,53.298460,-1.242375,2,54.196930,-1.242375,1200,supply2
27,9,100,demand9,53.165701,-0.713734,0,51.501109,-1.242375,1200,supply0
28,9,100,demand9,53.165701,-0.713734,1,52.849173,-1.242375,200,supply1
29,9,100,demand9,53.165701,-0.713734,2,54.196930,-1.242375,1200,supply2
...,...,...,...,...,...,...,...,...,...,...
42,14,100,demand14,52.846854,-1.984508,0,51.501109,-1.242375,1200,supply0
43,14,100,demand14,52.846854,-1.984508,1,52.849173,-1.242375,200,supply1
44,14,100,demand14,52.846854,-1.984508,2,54.196930,-1.242375,1200,supply2
45,15,100,demand15,53.165701,-1.771016,0,51.501109,-1.242375,1200,supply0
46,15,100,demand15,53.165701,-1.771016,1,52.849173,-1.242375,200,supply1
47,15,100,demand15,53.165701,-1.771016,2,54.196930,-1.242375,1200,supply2
48,16,100,demand16,54.646114,-1.242375,0,51.501109,-1.242375,1200,supply0
49,16,100,demand16,54.646114,-1.242375,1,52.849173,-1.242375,200,supply1
50,16,100,demand16,54.646114,-1.242375,2,54.196930,-1.242375,1200,supply2
51,17,100,demand17,54.513326,-0.696482,0,51.501109,-1.242375,1200,supply0
52,17,100,demand17,54.513326,-0.696482,1,52.849173,-1.242375,200,supply1
53,17,100,demand17,54.513326,-0.696482,2,54.196930,-1.242375,1200,supply2
54,18,100,demand18,54.194494,-0.476308,0,51.501109,-1.242375,1200,supply0
55,18,100,demand18,54.194494,-0.476308,1,52.849173,-1.242375,200,supply1
56,18,100,demand18,54.194494,-0.476308,2,54.196930,-1.242375,1200,supply2
57,19,100,demand19,53.878081,-0.704790,0,51.501109,-1.242375,1200,supply0
58,19,100,demand19,53.878081,-0.704790,1,52.849173,-1.242375,200,supply1
59,19,100,demand19,53.878081,-0.704790,2,54.196930,-1.242375,1200,supply2
60,20,100,demand20,53.747712,-1.242375,0,51.501109,-1.242375,1200,supply0
61,20,100,demand20,53.747712,-1.242375,1,52.849173,-1.242375,200,supply1
62,20,100,demand20,53.747712,-1.242375,2,54.196930,-1.242375,1200,supply2
63,21,100,demand21,53.878081,-1.779960,0,51.501109,-1.242375,1200,supply0
64,21,100,demand21,53.878081,-1.779960,1,52.849173,-1.242375,200,supply1
65,21,100,demand21,53.878081,-1.779960,2,54.196930,-1.242375,1200,supply2
66,22,100,demand22,54.194494,-2.008442,0,51.501109,-1.242375,1200,supply0
67,22,100,demand22,54.194494,-2.008442,1,52.849173,-1.242375,200,supply1
68,22,100,demand22,54.194494,-2.008442,2,54.196930,-1.242375,1200,supply2
69,23,100,demand23,54.513326,-1.788268,0,51.501109,-1.242375,1200,supply0
70,23,100,demand23,54.513326,-1.788268,1,52.849173,-1.242375,200,supply1
71,23,100,demand23,54.513326,-1.788268,2,54.196930,-1.242375,1200,supply2

In [12]:
# Calculate the crowflies distances for each combination
all_combos = calculate_distances(all_combos, conn)
all_combos.head(10)

,demand_id,demand,demand_name,demand_lat,demand_lng,supply_id,supply_lat,supply_lng,supply,supply_name,duration_min,distance_crowflies_km,distance_route_km
0,0,100,demand0,51.950498,-1.242375,0,51.501109,-1.242375,1200,supply0,49.983150,49.983150,49.983150
1,0,100,demand0,51.950498,-1.242375,1,52.849173,-1.242375,200,supply1,99.966210,99.966210,99.966210
2,0,100,demand0,51.950498,-1.242375,2,54.196930,-1.242375,1200,supply2,249.915294,249.915294,249.915294
3,1,100,demand1,51.817765,-0.729654,0,51.501109,-1.242375,1200,supply0,49.984545,49.984545,49.984545
4,1,100,demand1,51.817765,-0.729654,1,52.849173,-1.242375,200,supply1,119.934313,119.934313,119.934313
5,1,100,demand1,51.817765,-0.729654,2,54.196930,-1.242375,1200,supply2,266.911016,266.911016,266.911016
6,2,100,demand2,51.498899,-0.522340,0,51.501109,-1.242375,1200,supply0,49.985289,49.985289,49.985289
7,2,100,demand2,51.498899,-0.522340,1,52.849173,-1.242375,200,supply1,158.065716,158.065716,158.065716
8,2,100,demand2,51.498899,-0.522340,2,54.196930,-1.242375,1200,supply2,304.044870,304.044870,304.044870
9,3,100,demand3,51.182226,-0.736736,0,51.501109,-1.242375,1200,supply0,49.984577,49.984577,49.984577

In [13]:
# Save file to CSV
path = dir + "/qa_data_files/" + str(output_name) + ".csv"
all_combos.to_csv(path, index=False)